@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Attendance System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Employee Attendance System</h2>
        <p>
            Employee Attendance System is a sample application that
            demonstrates how employees can use it.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Built by Group 1</h2>
        <p>Vinay Kumar Mandalapu</p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/vinaykumar-mandalapu/EmployeeAttendanceSystem">See project source code &raquo;</a></p>
    </div>
</div>